.video__bg-shading {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    height: 323px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
}

.video__bg-shading:hover {
    background-color: rgba(0, 0, 0, 0.8);
}