@import url('./header__lang_active/header__lang_active.css');

.header__lang {
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}

.header__lang:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}

.header__lang:last-child {
    margin-left: 20px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .header__lang {
        font-size: calc( (100vw - 23.4rem)/(48 - 23.4) * (1.5 - 1.125) + 1.125rem );
    }

}

@media screen and (max-width: 375px) {

    .header__lang {
        font-size: 1.125rem;
    }

}