.comment__image {
    border-radius: 50%;
    width: 97px;
    height: 97px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {

    .comment__image {
        margin-bottom: 15px;
    }

}