<<<<<<< HEAD
@font-face {
    src: url('../../font/Inter-Black.woff2') format('woff2'),
         url('../../font/Inter-Black.woff') format('woff');
    font-family: Inter;
    font-weight: 900;
}

@font-face {
    src: url('../../font/Inter-Bold.woff2') format('woff2'),
         url('../../font/Inter-Bold.woff') format('woff');
    font-family: Inter;
    font-weight: 600;
}

@font-face {
    src: url('../../font/Inter-Medium.woff2') format('woff2'),
         url('../../font/Inter-Medium.woff') format('woff');
    font-family: Inter;
    font-weight: 500;
}

@font-face {
    src: url('../../font/Inter-Regular.woff2') format('woff2'),
         url('../../font/Inter-Regular.woff') format('woff');
    font-family: Inter;
    font-weight: 400;
}

.page {
    font-family: Inter;
    font-weight: normal;
    background-color: #2A2C2F;
    color: #fff;
=======
@font-face {
    src: url('../../font/Inter-Black.woff2') format('woff2'),
         url('../../font/Inter-Black.woff') format('woff');
    font-family: Inter;
    font-weight: 900;
}

@font-face {
    src: url('../../font/Inter-Bold.woff2') format('woff2'),
         url('../../font/Inter-Bold.woff') format('woff');
    font-family: Inter;
    font-weight: 700;
}

@font-face {
    src: url('../../font/Inter-Medium.woff2') format('woff2'),
         url('../../font/Inter-Medium.woff') format('woff');
    font-family: Inter;
    font-weight: 500;
}

@font-face {
    src: url('../../font/Inter-Regular.woff2') format('woff2'),
         url('../../font/Inter-Regular.woff') format('woff');
    font-family: Inter;
    font-weight: 400;
}

.page {
    font-family: Inter, Arial, sans-serif;
    background-color: #2A2C2F;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
>>>>>>> 69ac07f1bac80900c3da34737aac52856ccd4203
}