@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    margin-bottom: -16px;
}

@media screen and (max-width: 320px) {
    
    .photo-grid {
        margin-bottom: -8px;
    }
    
}