@import url('./place/place.css');

.places {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 70px
}

@media screen and (min-width: 985px) and (max-width: 1280px) {

    .places {
        max-width: calc( (100vw - 985px)/(1280 - 985) * (985 - 1024) + 1024px );
    }

}