@import url('./_active/header__lang_active.css');

.header__lang {
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}

.header__lang:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}

.header__lang:last-child {
    margin-left: 20px;
}