.comment__quote {
    font-size: 0.875rem;
    line-height: 1.7;
    margin: 0 0 15px 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .comment__quote {
        font-size: calc( (100vw - 48rem)/(64 - 48) * (0.875 - 1) + 1rem );
    }

}

@media screen and (max-width: 768px) {
    
    .comment__quote {
        font-size: 1rem;
        margin: 0;
        order: 1;
        text-align: left;
    }

}