@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('./__image/place__image.css');
@import url('./__paragraph/place__paragraph.css');

.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 60px 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .place {
        grid-template-columns: calc( (100vw - 1024px)/(1280 - 1024) * (460 - 440) + 440px ) 1fr;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .place {
        grid-template-columns: calc( (100vw - 768px)/(1024 - 768) * (440 - 340) + 340px ) 1fr;
    }

}