@import url('./lead__title/lead__title.css');
@import url('./lead__subtitle/lead__subtitle.css');
@import url('./lead__figure/lead__figure.css');
@import url('./lead__image/lead__image.css');
@import url('./lead__caption/lead__caption.css');

.lead {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

@media screen and (min-width: 985px) and (max-width: 1024px) {

    .lead {
        max-width: calc( (100vw - 985px)/(1024 - 985) * (985 - 1024) + 1024px );
    }

}