@import url('__title/lead__title.css');
@import url('__subtitle/lead__subtitle.css');
@import url('__image/lead__image.css');
@import url('__caption/lead__caption.css');

.lead {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px 100px 0;
    text-align: center;
}