.cover__subtitle {
    font-size: 1.125rem;
    line-height: 1.4;
    margin: 0;
    max-width: 382px;
    margin-bottom: 40px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .cover__subtitle {
        font-size: calc( (100vw - 23.4rem)/(48 - 23.4) * (1.125 - 0.875) + 0.875rem );
        margin-bottom: calc( (100vw - 375px)/(768 - 375) * (40 - 30) + 30px );
        max-width: calc( (100vw - 375px)/(768 - 375) * (382 - 300) + 300px );
    }

}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .cover__subtitle {
        margin-bottom: calc( (100vw - 320px)/(375 - 320) * (30 - 20) + 20px );
    }

}

@media screen and (max-width: 375px) {

    .cover__subtitle {
        font-size: 0.875rem;
        max-width: 300px;
    }

}

@media screen and (max-width: 320px) {

    .cover__subtitle {
        margin-bottom: 20px;
    }

}