.photo-grid__item {
    width: 100%;
    min-height: 188px;
    max-height: 234px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1024px) {

    .photo-grid__item {
        max-height: 200px;
    }

}