.video__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    min-height: 323px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
    border-radius: 6px;
    border: 1px solid #2A2C2F;
    overflow: hidden;
    color: #fff;
    position: relative;
}

.video__item:last-child {
    margin-left: 20px;
}

.video__item:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1024px) {

    .video__item:last-child {
        margin-left: 16px;
    }

}

@media screen and (max-width: 600px) {

    .video__item:last-child {
        margin-left: 0;
        margin-top: 8px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .video__item {
        min-height: calc( (100vw - 1024px)/(1280 - 1024) * (323 - 288) + 288px );
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .video__item {
        min-height: calc( (100vw - 768px)/(1024 - 768) * (288 - 200) + 200px );
        padding: calc( (100vw - 768px)/(1024 - 768) * (30 - 25) + 25px );
    }

}

@media screen and (max-width: 768px) {

    .video__item {
        min-height: 200px;
        padding: 25px;
    }

}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .video__item {
        min-height: calc( (100vw - 320px)/(375 - 320) * (200 - 190) + 190px );
        padding: calc( (100vw - 320px)/(375 - 320) * (25 - 15) + 15px );
    }

}

@media screen and (max-width: 320px) {

    .video__item {
        min-height: 190px;
        padding: 15px;
    }

}