.footer__link {
	font-size: 1.5rem;
	line-height: 1.7;
	color: #fff;
	cursor: pointer;
	margin-right: 20px;
}

.footer__link:hover {
	color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) and (max-width: 1280px) {

    .footer__link {
		font-size: calc( (100vw - 48rem)/(80 - 48) * (1.5 - 1) + 1rem );
	}

}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .footer__link {
		font-size: calc( (100vw - 23.4rem)/(48 - 23.4) * (1 - 1.5) + 1.5rem );
	}

}