.lead__title {
    font-size: 6rem;
    max-width: 782px;
    margin: 0 auto 50px;
    text-align: center;
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .lead__title {
        font-size: calc( (100vw - 23.4rem)/(48 - 23.4) * (6 - 2.5) + 2.5rem );
        margin-bottom: calc( (100vw - 375px)/(768 - 375) * (50 - 20) + 20px );
    }

}

@media screen and (max-width: 375px) {

    .lead__title {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

}