@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 985px) and (max-width: 1024px) {

    .intro {
        max-width: calc( (100vw - 985px)/(1024 - 985) * (985 - 1024) + 1024px );
    }

}