@import url('./_kamchatka/video__item-bg_kamchatka.css');
@import url('./_observatory/video__item-bg_observatory.css');

.video__item-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
}