.additional__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #2A2C2F;
    overflow: hidden;
    padding: 30px 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.additional__item:hover {
    background-color: rgba(0, 0, 0, 0.8);
}