.cover__title {
    font-size: 4.5rem;
    color: #FFFDFD;
    margin: 10% 0 0;
    flex: 1;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1090px) {

    .cover__title {
        max-width: 550px;
    }

}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .cover__title {
        font-size: calc( (100vw - 23.4rem)/(48 - 23.4) * (4.5 - 2) + 2rem );
        max-width: calc( (100vw - 375px)/(768 - 375) * (550 - 250) + 250px );
    }

}

@media screen and (max-width: 375px) {

    .cover__title {
        font-size: 2rem;
        max-width: 250px;
    }

}