@import url(./__nav/footer__nav.css);
@import url(./__list/footer__list.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 30px 0;
	margin-top: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

	.footer {
		margin-top: calc( (100vw - 768px)/(1024 - 768) * (80 - 20) + 20px );
	}

}

@media screen and (max-width: 688px) {

	.footer {
		flex-direction: column;
	}

}

@media screen and (min-width: 375px) and (max-width: 768px) {

	.footer {
		margin-top: calc( (100vw - 375px)/(768 - 375) * (20 - 0) + 0px );
	}

}

@media screen and (max-width: 375px) {

	.footer {
		margin-top: 0px;
	}

}