@import url('./_poster/_1/additional__item-bg_poster_1.css');
@import url('./_poster/_2/additional__item-bg_poster_2.css');
@import url('./_poster/_3/additional__item-bg_poster_3.css');
@import url('./_poster/_4/additional__item-bg_poster_4.css');

.additional__item-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}