.intro__title {
    font-size: 3.3rem;
    margin: 0 0 40px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .intro__title {
        font-size: calc( (100vw - 23.4rem)/(48 - 23.4) * (3.3 - 2) + 2rem );
        margin-bottom: calc( (100vw - 375px)/(768 - 375) * (40 - 30) + 30px );
    }

}

@media screen and (max-width: 375px) {

    .intro__title {
        font-size: 2rem;
        margin-bottom: 30px;
    }

}